.card {
    min-height: 300px;
}

a {
    text-decoration: none;
}
.navbar-brand {
    display: flex;
    align-items: center;
}

.imag-contenedor{
    max-width: 100%;
    height: auto;
}


.button-prop-educ{
    width: 150px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    color: aliceblue;
    font-weight: 600;
}
.verMas{
    color: aliceblue;
    text-decoration: none;
}